<footer class="site-footer">
    <div class="container">
        <div class="row">
                
            <div class="col-lg-6 col-12">
                <div class="site-footer-wrap d-flex align-items-center">
                    <p class="copyright-text mb-0 me-4">Copyright © 2025</p>
                </div>
            </div>
            
            <div class="col-lg-6 col-12">
                <!-- <p class="copyright-text mb-0 me-4">CODEHEXO</a></p> -->
            </div>

        </div>
    </div>
</footer>

<!-- JAVASCRIPT FILES -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="front/js/jquery.min.js"></script>
<script src="front/js/bootstrap.min.js"></script>
<script src="front/js/jquery.sticky.js"></script>
<script src="front/js/jquery.magnific-popup.min.js"></script>
<script src="front/js/magnific-popup-options.js"></script>
<script src="front/js/click-scroll.js"></script>
<script src="front/js/custom.js"></script>

<!-- Dropify -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.css" integrity="sha512-In/+MILhf6UMDJU4ZhDL0R0fEpsp4D3Le23m6+ujDWXwl3whwpucJG1PEmI3B07nyJx+875ccs+yX2CqQJUxUw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js" integrity="sha512-8QFTrG0oeOiyWo/VM9Y8kgxdlCryqhIxVeRpWSezdRRAvarxVtwLnGroJgnVW9/XBRduxO/z1GblzPrMQoeuew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
    function logout() {
        document.getElementById('logoutForm').submit();
    }

    function login() {
        window.location.href = 'http://localhost:3000/login'
    }

    function createPost() {
        window.location.href = 'http://localhost:3000/createpost'
    }

    function explorePage() {
        window.location.href = 'http://localhost:3000/listing'
    }

</script>