<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta name="description" content="" />
<meta name="author" content="Tooplate" />

<title>SharingGO</title>

<link rel="preconnect" href="https://fonts.googleapis.com" />

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<link
  href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
  rel="stylesheet"
/>

<link href="front/css/bootstrap.min.css" rel="stylesheet" />

<link href="front/css/bootstrap-icons.css" rel="stylesheet" />

<link href="front/css/magnific-popup.css" rel="stylesheet" />

<link href="front/css/tooplate-waso-strategy.css" rel="stylesheet" />

<link rel="stylesheet" type="stylesheet" href="styles/global.css" />

<style>
  .logout-btn {
    border: 0px;
    background: none;
  }

  .custom-confirm-button {
    background-color: #ff4d4d !important; /* Change button background color */
    color: white !important; /* Change button text color */
    border: none !important; /* Remove border */
    padding: 10px 20px !important;
    border-radius: 5px !important;
    font-size: 14px !important;
  }
  .custom-confirm-button:hover {
    background-color: #ff1a1a !important; /* Darker shade on hover */
  }
  .product_card {
    border-radius: 16px !important;
    overflow: hidden;
  }

  .product_detail_wrap {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .product-image-wrap img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 1rem;
  }

  .product-detail {
    background: #fff;
    border-radius: 8px;
  }

  .form_label {
    font-weight: bold;
    color: #555;
  }

  .badge {
    font-size: 0.85rem;
    padding: 0.4rem 0.75rem;
    color: #fff;
    border-radius: 8px;
    margin-right: 0.5rem;
  }

  .badge-category {
    background-color: #DC3545;
  }

  .badge-username {
    background-color: #FFC108;
    color: #333;
  }

  .product-meta {
    margin-top: 1.5rem;
    padding: 1rem 0;
  }

  .image-box {
    height: 300px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-box img {
    height: 300px;
    width: auto;
  }

  
</style>
